p {
    font-family: Roboto;
}

.titleNews{
    font-weight: bold;
    font-size: 30px;
    width: 1280px;
    margin: 80px auto 0;
}

.h2-title {
    font-family: Merriweather, serif;
    margin: 36px 0 0;
    font-weight: 500;
}

.br{
    height: 70px;
    background: #f1f1f1;
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
}

.position {
    width: 1280px;
    display: flex;
    padding-top: 15px;
    margin: 0 auto;
}

.position img {
    width: 45px;
    margin-left: auto;
    float: right;
}

.descriptionNews{
    height: calc(100svh - 180px);
    background: #e8e8e8;
    padding-top: 40px;
}

.positionDescription{
    width: 1280px;
    margin: 0 auto;
    font-size: 20px;
}
.dragImg {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-style: dashed;
    border-width: 1px;
}

.positionDescription img{
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 70px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.descriptionNew {
    width: 1100px;
    margin-left: 50px;
    text-indent: 20px;
}